{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Панель администратора{% endblock %}</h1>
{% endblock %}

{% block content %}
	<div class="admin-tools">
		<h2>Список пользователей</h2>
		<a href="{{ url_for('manager.add_user') }}" class="button add-user">Добавить пользователя</a>
	</div>

	{% if users is defined and users|length > 0 %}
		{% for user in users %}
			<div class="user-panel">
				<h3>{{ user['first_name'] }} {{ user['second_name'] }} {{ user['surname'] }}</h3>
				<p>id: {{ user['id'] }}, 
					login: {{ user['username'] }}, 
					админ: {% if user['is_admin'] == True %} да {% else %} нет {% endif %},
				</p>
				<a class="button see-more" href="#">Просмотреть задачи</a>
				<a class="button delete-user" href="#">Удалить пользователя</a>
			</div>
			{% if not loop.last %}
				<hr>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endblock %}