<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='task.css') }}">
	<title>{% block title %}{% endblock %} TaskManager</title>
</head>

<body>
	<nav>
		<h2><a href="{{ url_for('main') }}">Home</a></h2>
		{% if request.path != "/" %}
			<a class="nav-button" href="{{ url_for('auth.logout') }}">Выйти</a>
		{% endif %}
	</nav>
	
	<section class="content">
		<header>
			{% block header %}{% endblock %}
		</header>
		{% block content %}{% endblock %}
	</section>
</body>
