{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Вход в систему {% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="", method="post">
	<div class="form-field">
		<label for="username">Имя пользователя:</label>
		<input type="text" name="username" id="username" required />
	</div>
	<div class="form-field">
		<label for="password">Пароль:</label>
		<input type="password" name="password" id="password" required />
	</div>
	<div class="form-example">
		<input type="submit" value="Войти" />
	</div>
</form>
{% endblock %}
