<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>Document</title>
</head>
<body>
	<div class="nav">
		<h1>Постановщик задач</h1>
	</div>

	<div class="content">
		{% with messages=get_flashed_messages() %}
			{% for message in messages %}
				<div class='login_flash'>
					{{ message }}
				</div>
			{% endfor %}
		{% endwith %}
		<form action="", method="post">
			<div class="form-field">
				<label for="username">Имя пользователя:</label>
				<input type="text" name="username" id="username" required />
			</div>
			<div class="form-field">
				<label for="password">Пароль:</label>
				<input type="password" name="password" id="password" required />
			</div>
			<div class="form-example">
				<input type="submit" value="Войти" />
			</div>
		</form>
	~</div>
	
</body>
</html>