{% extends 'base.html' %}

{% block content %}
	<div class="overlay">
		{% if task is defined %}
			<div class="content-panel task-panel">
				<h2>{{ task['title'] }}</h2>
				<p class="timestamp">Назначено {{ task['created'].strftime('%Y-%m-%d') }}</p>
				<div class="task-body">{{ task['body'] }}</div>

				<form action="" method="post">
					<div class="task-page-buttons">
						<select name="task-status" id="task-status" class="task-status">
							<option value="in-work">В процессе</option>
							<option value="done" selected>Выполнено</option>
						</select>
						{% if not g.user['is_admin'] %}
							<a href="/{{ task['id'] }}/delete-task" class="button delete">Удалить задачу</a>
						{% endif %}
					</div>
					<div>
						<input class="form-button" type="submit" value="Готово" />
					</div>
				</form>
			</div>
		{% endif %}
	</div>
{% endblock %}

