{% extends 'base.html' %}

{% block content %}
	<div class="overlay">
		{% if task is defined %}
			<div class="content-panel task-panel">
				<h2>{{ task['title'] }}</h2>
				<p class="timestamp">Назначено {{ task['created'].strftime('%Y-%m-%d') }}</p>
				<div class="task-body">{{ task['body'] }}</div>

				<form action="" method="post">
					<select name="status" id="status" class="status">
						<option value="0">В процессе</option>
						<option value="1" selected>Выполнено</option>
					</select>
					<input class="form-button" type="submit" value="Готово" />
				</form>
			</div>
		{% endif %}
	</div>
{% endblock %}

