{% extends 'base.html' %}

{% block content %}
	<div class="overlay">
		{% if task is defined %}
			<div class="content-panel task-panel">
				<div class="line-block">
					<div>
						<h2>{{ task['title'] }}</h2>
						<p class="task-info">Назначено {{ task['created'].strftime('%Y-%m-%d') }}
							 {{ author['first_name'] }} {{ author['second_name'] }} {{ author['surname'] }}</p>
					</div>
					<div class="icon-close">
						<a href="{{ main_page_url }}" class="icon-close-cross" onclick="this.form.submit()">+</a>
					</div>
				</div>

				<div class="task-body">{{ task['body'] }}</div>

				{% if files is defined and files|length > 0 %}
					{% for file in files %}
						<a 
							href="http://127.0.0.1:5000/download/{{ file }}"
							class="file-holder"
							download><ion-icon name ="document-outline"></ion-icon>
							{{ file }}{% if file != files[-1] %}, {% endif %}
						</a>
					{% endfor %} 
				{% endif %}

				<form enctype="multipart/form-data" action="" method="post">
					<div class="line-block" id="task-page-buttons">
						<select name="status" id="status">
							<option value="0" selected>В процессе</option>
							<option value="1">Выполнено</option>
						</select>
						<div>
							<label id="task-page-file-upload" for="file-upload" class="button">Добавить файлы</label>
							<input type="file" class="file-upload" id="file-upload" name="file" multiple="multiple"/>
						</div>
					</div>
					<input class="form-button" id="task-update-submit" type="submit" value="Готово" />
				</form>
			</div>
		{% endif %}
	</div>
{% endblock %}

