<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='task.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
	<script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.js"></script>
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	<nav>
		<a href="{{ url_for('index') }}">
			<img class="nav-logo" src="{{ url_for('static', filename='assets/logo.png') }}" alt="">
		</a>
		{% if request.path != "/" %}
		<div class="line-block" id="nav-buttons-group">
			<h2><a href="{{ url_for('main') }}"><ion-icon name ="home"></ion-icon>Главная</a></h2>
			<h2><a class="nav-button" href="{{ url_for('auth.logout') }}"><ion-icon name="log-out-outline"></ion-icon>Выйти</a></h2>
		</div>
		{% else %}
    		{% if g['user'] is defined and g['user'] != None %}
    		    <h2><a class="nav-button" href="{{ url_for('main') }}"><ion-icon name="log-in-outline"></ion-icon>Войти</a></h2>
    		{% else %}
    		    <h2><a class="nav-button" href="{{ url_for('auth.login') }}"><ion-icon name="log-in-outline"></ion-icon>Войти</a></h2>
    		{% endif %}
		{% endif %}
	</nav>
	
	<section class="content">
		<header>
			{% block header %}{% endblock %}
		</header>
		{% block content %}{% endblock %}
	</section>
</body>
