{% extends 'base.html' %}

{% block content %}
	<div class="wrapper">
		<h1>{% block title %}Создание пользователя{% endblock %}</h1>
		<form action="", method="post">
			<div class="form-field">
				<input type="text" placeholder="Имя" name="first_name" id="first_name" required />
			</div>
			<div class="form-field">
				<input type="text" placeholder="Фамилия" name="second_name" id="second_name" required />
			</div>
			<div class="form-field">
				<input type="text" placeholder="Отчество" name="surname" id="surname" required />
			</div>
			<div class="form-field">
				<input type="text" placeholder="Имя пользователя (логин)" name="username" id="username" required />
			</div>
			<div class="form-field">
				<input type="text" placeholder="Пароль" name="password" id="password" required />
			</div>

			<div class="form_toggle">
				<div class="form_toggle-item item-1">
					<input id="fid-1" type="radio" name="is_admin" value="Нет" checked>		
					<label for="fid-1">Пользователь</label>			
				</div>		
				<div class="form_toggle-item item-2">			
					<input id="fid-2" type="radio" name="is_admin" value="Да">	
					<label for="fid-2">Администратор</label>		
				</div>		
			</div>

			<div class="form-button-block">
				<input class="form-button" type="submit" value="Создать" />
			</div>
		</form>
	</div>
{% endblock %}

