{% extends 'base.html' %}


{% block header %}
<h1>{% block title %}Пользователи{% endblock %}</h1>
{% endblock %}

{% block content %}
	{% if users is defined and users|length > 0 %}
		{% for user in users %}
			<article class="task">
				<header>
					<div>
						<h1>{{ user['first_name'] }}</h1>
						<div class="about">id: {{ g['user'] }}</div>
						<div class="about">is admin: {{ g['is_admin'] }}</div>
					</div>
				</header>
	
			</article>
			{% if not loop.last %}
				<hr>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endblock %}

