.button {
	padding: 6px;
	border: 1px outset var(--darkblue);
	border-radius: var(--default-radius);
	color: var(--darkblue);
	background-color: var(--white);
	transition: var(--transition);
}

.button:hover, .form-button:hover {
	color: var(--white);
	background-color: var(--darkblue);
	border-color: var(--darkblue);
}

.delete{
	color: var(--red);
	border: 1px outset var(--red);
}

.delete:hover {
	background-color: var(--red);;
	border: 1px outset var(--red);
}

.button-main-login {
	min-width: 200px;
	padding: 8px;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 40px 55px 0px 55px;
	font-size: 20px;
}

.form-button-block input {
	padding: 8px;
	min-width: 75%;
	margin: 0 12.5%;
	border: 1px solid var(--darkblue);
	border-radius: var(--default-radius);
	color: var(--darkblue);
	background-color: var(--white);
	transition: var(--transition);
}

.form_toggle {
	display: inline-block;
	overflow: hidden;
	margin-top: 20px;
}

.form_toggle-item {
	float: left;
	display: inline-block;
}

.form_toggle-item input[type=radio] {
	display: none;
}

.form_toggle-item label {
	display: inline-block;
	padding: 0px 15px;   
	line-height: 34px;    
	border: 1px solid var(--darkblue);
	border-right: none;
	cursor: pointer;
	user-select: none;   
}

.form_toggle .item-1 label {
	transition: var(--transition);
	border-radius: var(--default-radius) 0 0 var(--default-radius);
}

.form_toggle .item-2 label {
	transition: var(--transition);
	border-radius: 0 var(--default-radius) var(--default-radius) 0;
	border-right: 1px solid var(--darkblue);
}

.form_toggle .item-1 input[type=radio]:checked + label {
	background: var(--darkblue);
	color: var(--white);
}

.form_toggle .item-2 input[type=radio]:checked + label {
	background: var(--darkblue);
	color: var(--white);
}

.form-button-block {
	margin-top: 35px;
}

.form-button {
	cursor: pointer;
	padding: 6px;
	border: 1px solid var(--darkblue);
	border-radius: var(--default-radius);
	color: var(--darkblue);
	background-color: var(--white);
	transition: var(--transition);
}

.user-panel-buttons {
	min-width: 375px;
	display: flex;
	justify-content: space-between;
}

.icon-close {
	width: 45px;
	height: 45px;
	background: var(--darkblue);
	font-size: 2em;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: var(--default-radius);
	border-top-right-radius: var(--default-radius);
	z-index: 1;
}

.icon-close-cross {
	padding-left: 1px;
	user-select: none;
	transform: rotate(45deg);
	text-decoration: none;
	color: #fff;
}

.file-upload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.lower-nav {
	font-size: 18px;
	font-weight: 700;
}

.lower-nav:hover {
	text-decoration: underline;
}

.nav-logo {
	width: 45px;
	height: 45px;
}

#add-task {
	margin-left: 18px;
}

#delete-user-button {
	margin-left: 18px;
}

#mail-link {
	margin-left: 36px;
}

#see-more {
	margin-left: 18px;
}