.login-content {
	display: block;
	min-width: 375px;
	height: 500px;
}

.login-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px 0;
}

#login-form input {
	margin-top: 5px;
}