html {
	font-family: sans-serif;
	background: #ffffff;
	padding: 1rem; 
	}

body {
	max-width: 1360px;
	margin: 0 auto;
}

nav {
	background: lightgray;
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
}

nav a {
	color: black;
	text-decoration: none;
}

nav a:hover {
	color: rgb(54, 54, 54);
	text-decoration: underline;
}


h1 {
	font-size: 26px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 18px;
	font-weight: normal;
}

ul {
	list-style-type: square;
}

.content { 
	padding: 1.5rem 1rem 1rem;
}

.content header {
	margin: 40px auto;
}

.content:last-child{
	margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input {
  margin-bottom: 1em;
}

.flash {
	color: red;
	text-decoration: underline;
}

.admin-tools {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-panel {
	margin-top: 1.75rem;
	padding: 1rem;
	border: 1px solid gray;
	background-color: rgb(255, 255, 255);
	border-radius: 8px;
}

.button {
	padding: 1px 6px;
	border: 1px outset rgba(82, 82, 82, 0.123);
	border-radius: 3px;
	color: black;
	background-color: rgb(221, 220, 220);
	text-decoration: none;
}

.button:hover {
	font-size: 16.1px;
	background-color: rgba(0, 162, 255, 0.185);
}

.delete-user:hover {
	background-color: rgba(255, 0, 0, 0.582);
}

.task-panel {
	margin-top: 1.75rem;
	padding: 1rem;
	border: 1px solid gray;
	background-color: rgb(255, 255, 255);
	border-radius: 8px;
}