.task-body {
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 200px;
	max-width: 920px;
	padding: 1rem;
	margin-bottom: 28px;
	margin-top: 16px;
	border: 1px solid var(--darkblue);
	border-radius: 8px;
}

.task-panel h2 {
	margin-bottom: 8px;
}

#task-update-submit {
	margin-top: 40px;
	max-width: 25%;
}

.task-info {
	margin-bottom: 12px;
}

.task-status-window {
	padding: 6px;
	border-radius: 8px;
	color: var(--darkblue);
	background-color: var(--white);
	transition: var(--transition);
}

#delete-task-button {
	margin: 0 18px;
}